<div class="md-layout md-gutter">
  <sidebar class="md-layout-item md-size-25"></sidebar>
  
  <div id="main" class="md-layout-item" v-if="data.tags.length > 1">
    <md-field>
      <md-icon class="md-prefix">search</md-icon>
      <md-input v-model="tag_regex" placeholder="Filter tags (regular expressions supported)" @input="filterTags"></md-input>
    </md-field>
    
    <data-card
      v-for="tag in data.tags"
      v-if="tag.display"
      :name="tag.name"
      :tag="tag.runs"
      :tag_names="tag.tag_names"
      :isRegex="tag.isRegex"
      :expanded="tag === data.tags[1]"
    ></data-card>
  </div>

  <md-empty-state
    md-icon="warning"
    md-label="No geometry data was found."
    md-description="Probable causes:"
    v-if="data.tags.length === 1">
    <ul style="text-align:left;">
      <li>You haven’t written any scalar data to your event files.</li>
      <li>TensorBoard can’t find your event files.</li>
    </ul>
  </md-empty-state>

</div>