<div class="md-layout md-gutter">
  <sidebar class="md-layout-item md-size-20"></sidebar>
  
  <div id="main" class="md-layout-item md-size-80" v-if="!loading && data.tags.length > 1">
    <md-field>
      <md-icon class="md-prefix">search</md-icon>
      <md-input v-model="tag_regex" placeholder="Filter tags (regular expressions supported)" @input="filterTags"></md-input>
    </md-field>
    
    <data-card
      v-for="tag in data.tags"
      v-if="tag.display"
      :name="tag.name"
      :isRegex="tag.isRegex"
      :expanded="tag.expanded"
      :runs="tag.runs"
    ></data-card>
  </div>

  <md-empty-state
    md-icon="warning"
    md-label="No geometry data was found."
    md-description="Probable causes:"
    v-else>
    <ul style="text-align:left;">
      <li>You have not written any scalar data to your event files.</li>
      <li>TensorBoard cannot find your event files.</li>
    </ul>
  </md-empty-state>

</div>