#main {
  padding-right: 30px;

  .md-prefix {
    display: contents;
  }
}


@media(max-width: 1040px) {
  #main {
    min-width: calc(100% - 260px - 12px);
    max-width: calc(100% - 260px - 12px);
  }
}