<div class="md-layout md-gutter">
  <sidebar class="md-layout-item md-size-25"></sidebar>
  
  <div id="main" class="md-layout-item">
    <md-field>
      <md-icon class="md-prefix">search</md-icon>
      <md-input v-model="tag_regex" placeholder="Filter tags (regular expressions supported)" @input="filterTags"></md-input>
    </md-field>
    
    <data-card v-for="tag in data.tags" v-if="tag.display" :tag="tag.runs" :name="tag.name" :isRegex="tag.isRegex" :expanded="tag === data.tags[1]"></data-card>
  </div>

</div>