
<div class="sidebar">
  <div class="sidebar-section">
    <h3>Point size</h3>
    <div class="point_size">
      <slider :value="data.point_size" @changed="updatePointSize"></slider>
      <md-field>
        <md-input v-model="data.formatted_point_size" @input="updatePointSizeInput"></md-input>
      </md-field>
    </div>
  </div>
  
  <md-divider></md-divider>
  
  <div class="sidebar-section">
    <h3>Meshes</h3>

    <md-switch v-model="data.show_vertices"
      @change="settings.show_vertices.next($event)">
      Show pointcloud or mesh
    </md-switch>

    <md-switch v-model="data.show_features"
      @change="settings.show_features.next($event)">
      Show features
    </md-switch>

    <md-switch v-model="data.show_wireframe"
      @change="settings.show_wireframe.next($event)">
      Show as wireframe
    </md-switch>

    <md-switch v-model="data.norm_features"
      @change="settings.norm_features.next($event)">
      Normalize feature vectors
    </md-switch>
  </div>

  <md-divider></md-divider>
  
  <div class="sidebar-section">
    <h3>Runs</h3>

    <md-field>
      <md-input v-model="data.regex" placeholder="Write a regex to filter runs" @input="filterRuns"></md-input>
    </md-field>

    <div v-for="run in runs">
      <div v-if="run.display" class="run md-layout md-alignment-center-left">
        <md-checkbox
          v-model="run.checked"
          @change="data.exclusive = false"
          :class="run.color + ' md-layout-item md-size-10'"></md-checkbox>
        <md-radio
          class="double_checkbox"
          v-model="data.exclusive"
          :value="run"
          :class="run.color + ' md-layout-item md-size-10'"
          @change="exclusify(run)"></md-radio>
        <span
        class="md-layout-item md-size-75 run-name">{{ run.name }}</span>
      </div>
    </div>

    <md-button @click="toggleAll()" class="sidebar-button toggle">TOGGLE ALL RUNS</md-button>
    <span class="logdir">{{ data.logdir }}</span>
  </div>

  <md-snackbar md-position="center" :md-duration="4000" :md-active.sync="showSnackbar" md-persistent>
    <span><md-icon style="color: red;">warning</md-icon> Reload interval must be at least 15 sec.</span>
    <md-button class="md-primary" @click="showSnackbar = false">Ok</md-button>
  </md-snackbar>
</div>