.sidebar {
  min-width: 260px !important;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  overflow-x: hidden;
  padding: 5px 0;
  font-size: 13px;
  text-overflow: ellipsis;

  .sidebar-section {
    font-size: 13px;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    margin-right: 10px;
    padding: 15px 0 15px 30px;
    position: relative;
    overflow: hidden;

    .point_size {
      .md-slider {
        width: calc(70% - 5px);
        margin-right: 5px;
        display: inline-block;
      }
      .md-field {
        width: 20%;
        display: inline-block;
      }
    }

    .md-input {
      font-size: 14px;
    }

    .md-button {
      width: 100%;
    }
    
    .md-checkbox {
      margin: 0 8px;
      
      .md-checkbox-container {
        width: 18px;
        min-width: 18px;
        height: 18px;
        
        &:before, .md-ripple {
          width: 14px !important;
          min-width: 14px !important;
          height: 14px !important;
        }
      }

      .md-checkbox-label {
        padding-left: 8px;
      }

    }
    .md-radio-container {
      width: 14px;
      min-width: 14px;
      height: 14px;
      margin-top: 2px;
      
      &:before, & .md-ripple {
        width: 14px !important;
        min-width: 14px !important;
        height: 14px !important;
      }
    }
    .md-radio.md-checked .md-radio-container:after {
      transform: scale3D(1.5,1.5,1.5);
    }

    .md-radio-label {
      padding-left: 8px;
    }

    .double_checkbox {
      margin: 0;
    }
  }

  .logdir {
    color: grey;
    width: 100%;
  }

  .sidebar-button {
    color: #757575;
    background: #e0e0e0;
    font-size: 13px;
    font-weight: normal;
    border-radius: 3px;
  }
}
