@import '../colors.scss';

.md-slider {
  box-sizing: border-box;
  width: 100%;

  .md-progress-bar {
    height: 2px;
    background-color: lightgrey !important;
    margin-bottom: -16px;

    
    .md-progress-bar-fill {
      background-color: $primary-color !important;
      transition: none;
    }
  }

  input[type=range] {
    height: 2px;
    width: 100%;
    margin: 0;
    appearance: none;
    background: none;
    position: relative;
    z-index: 1;

    &::-webkit-slider-thumb {
      appearance: none;
      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }
}