.data-run-component {
  position: relative;

  .description {
    padding: 4px;
    
    code {
      background: rgba(27,31,35,.05);
      padding: 4px;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }

  .md-progress-bar.loader {
    position: absolute;
    top: 0;
    width: calc(100% - 8px);
  }
  
  .slider {
    width: 100%;
    position: relative;
    font-size: 13px;
  }

  .header-run {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 15px;
    font-size: 10px;
    background: grey;
    padding: 0 4px;
    color: white;
    border-radius: 0 0 5px 5px;
  }

  .actions {
    float: right;
  }
}