<div class="data-run-component" :style="data.display">
  <div class="wrapper">
    <div class="loading-overlay" v-if="data.loading">
      <md-progress-spinner class="loader" :md-diameter="100" :md-stroke="7" md-mode="indeterminate"></md-progress-spinner>
    </div>
  
    {{tag}}<div :class="'header-run ' + data.color" :title="run">{{run.replace(RegExp('.*/'), '')}}</div>
      
    <div class="description" v-html="data.description"></div>
    <md-divider></md-divider>
    <div class="slider">
      <span class="step">step: 
      <md-button class="md-icon-button md-dense" @click="update(data.current_step_id - 1)" :disabled="data.current_step_id === 0">
        <md-icon>arrow_back_ios</md-icon>
      </md-button>
        <b>{{data.current_step_label}}</b>
      <md-button class="md-icon-button md-dense" @click="update(data.current_step_id + 1)" :disabled="data.current_step_id === data.max_step">
        <md-icon>arrow_forward_ios</md-icon>
      </md-button></span><br>
      {{data.current_wall_time}}
      <slider
        :value="data.current_step_id"
        :max="data.max_step"
        v-on:value="update">
      </slider>
    </div>
  
    <plot
      :class="{'plot': true, 'invisible-plot': plot.value.broken}"
      :data="plot"
      :config="data.plot_config"
      :style="'height: ' + data.plot_height"
      :width="data.fullscreen"
      ></plot>
    
    <md-empty-state 
      v-if="plot.value.broken"
      class="loading-error"
      md-icon="warning"
      md-label="Data is currupt.">
    </md-empty-state>
  
    <div class="actions">
      <md-button class="md-dense" @click="resetCamera">
        reset
      </md-button>
      <md-button class="md-icon-button md-dense" @click="rotateUpwards()">
        <md-icon>refresh</md-icon>
      </md-button>
      <md-button class="md-icon-button md-dense" @click="rotateSideways()">
        <md-icon>360</md-icon>
      </md-button>
      <md-button class="md-icon-button md-dense" @click="getScreenshot">
        <md-icon>save_alt</md-icon>
      </md-button>
      <md-button class="md-icon-button md-dense" @click="togglePlotSize">
        <md-icon v-if="!data.fullscreen">fullscreen</md-icon>
        <md-icon v-if="data.fullscreen">fullscreen_exit</md-icon>
      </md-button>
    </div>
  </div>

  <md-snackbar md-position="center" :md-duration="4000" :md-active.sync="data.show_snackbar" md-persistent>
    <span>{{data.error}}</span>
    <md-button class="md-primary" @click="data.show_snackbar = false">Close</md-button>
  </md-snackbar>
</div>