<div class="data-run-component" :style="data.display">
  <md-progress-bar class="loader" v-if="data.loading" :md-stroke="3" md-mode="indeterminate"></md-progress-bar>

  {{tag}}<div :class="'header-run ' + data.color" :title="run.name">{{run.name}}</div>
  
  <div>
    <div class="description" v-html="run.description"></div>
    <md-divider></md-divider>
    <div class="slider">
      step: <b>{{data.current_step_label}}</b><br>
      {{data.current_wall_time}}
      <slider
        :value="data.current_step_id"
        :max="data.max_step"
        v-on:value="update"
        v-if="data.max_step !== 0">
      </slider>
    </div>
  
    <div v-if="!data.broken_data">
      <plot
        class="plot"
        :data="data.plot_data"
        :config="data.plot_config"
        :style="'height: ' + data.plot_height"
        :width="data.fullscreen"
        ></plot>
    </div>
    
    <md-empty-state 
      v-else
      class="loading-error"
      md-icon="warning"
      md-label="Data is currupt.">
    </md-empty-state>
  
    <div class="actions">
      <md-button class="md-icon-button md-dense" @click="getScreenshot">
        <md-icon>save_alt</md-icon>
      </md-button>
      <md-button class="md-icon-button md-dense" @click="togglePlotSize">
        <md-icon v-if="!data.fullscreen">fullscreen</md-icon>
        <md-icon v-if="data.fullscreen">fullscreen_exit</md-icon>
      </md-button>
    </div>
  </div>
</div>