.md-card-header {
  position: relative;
  
  .header-run {
    position: absolute;
    top: 0;
    right: 0;
    background: lightblue;
  }
}

.md-card-expand-trigger {
  float: right;
  margin-top: -9px !important;
}

.regex-text {
  color: grey;
}

.plot-component:not(:nth-last-child(3)):not(:nth-last-child(2)):not(:nth-last-child(1)) {
  margin-bottom: 24px;
}