
<md-card>
  <md-card-header>
    <span v-if="isRegex" class="regex-text">Tags matching /</span>{{ name }}<span v-if="isRegex" class="regex-text">/</span>    
    <span @click="update">
      <md-card-expand-trigger>
        <md-button class="md-icon-button">
          <md-icon>keyboard_arrow_down</md-icon>
        </md-button>
      </md-card-expand-trigger>
    </span>
  </md-card-header>
  
  <md-divider></md-divider>

  <md-card-expand>
    <md-card-expand-content>
      <md-card-content>
        <div class="md-layout md-gutter" v-if="data.expanded">
          <data-run
            v-for="i in data.page_size"
            v-if="data.filtered_runs.length > data.current_page_id * data.page_size + i - 1"
            :run="data.filtered_runs[data.current_page_id * data.page_size + i - 1]"
            :tag="name"
            :class="'md-layout-item md-size-' + Math.floor(100 / data.page_size)"></data-run>
        </div>

        <div class="md-layout md-gutter md-alignment-top-center paginator">  
          <md-button @click="prevPage" :disabled="data.current_page_id === 0" class="md-layout-item md-size-33">Prev</md-button>
          <span class="md-layout-item md-size-33 page_label">{{data.current_page_id + 1}} / {{data.max_page}}</span>
          <md-button @click="nextPage" :disabled="data.current_page_id + 1 >= data.max_page" class="md-layout-item md-size-33">Next</md-button>
        </div>
      </md-card-content>
    </md-card-expand-content>
  </md-card-expand>
</md-card>